:root {
    --var-darkest-blue: #181923;
    --var-darker-blue: #292d41;
    --var-dark-blue: #38405d;
    --var-gray-blue: #4c546d;
    --var-light-purp: #6f687a;
    --var-dark-alt: #8b7983;
    --var-mid-alt: #a58d89;
    --var-highlight: #b59e90;
}
body {
    padding: 0;
    margin: 0;
    background-color: var(--var-darker-blue);
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: var(--var-darkest-blue);
    color: white;
}


.launch_image {
    height: 100%;
    object-fit: cover;
}
.launch_image--container {
    height: 100%;
}
.launch_content--container {
    height: 100%;
    width: 100%;
    text-align: center;
}
.launch_content--container div {
    position: relative;
    left: 0;
    color: rgb(255, 241, 41);
    font-size: 25px;
    font-weight: 700;
}
.launch_content--container li {
    font-size: 25px;
    color: var(--var-highlight);
}
.launch_content--container p {
    color: var(--var-dark-alt);
}
a {
    text-decoration: none;
    color: var(--var-mid-alt)
}
.launch_list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style: none;
    padding: 0;
}
.launch_element {
    display: flex;
    flex-direction: row-reverse;
    height: 500px;
    width: 100%; 
    background-color: var(--var-dark-blue);
    padding: 10px;
    margin: 10px 10px;
}
.launch_desc {
    font-size: 18px;
    padding: 10px;
}
.article_image{
    height: 100%;
    object-fit: cover;
}
.article_image--container {
    height: 60%;
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.article_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    padding: 0;
}
.article_element {
    height: 500px;
    width: 100%;
    background-color: var(--var-dark-blue);
    padding: 10px;
    margin: 10px 10px;

}
.article_content--container {
    text-align: center;
}

.article_content--container div {
    color: rgb(255, 241, 41);
    font-size: 25px;
    font-weight: 700;
}
.article_content--container li {
    font-size: 25px;
    margin: 2%;
    color: var(--var-highlight);
}
.content_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.left_list {
    width: 50%;
}
.right_list {
    width: 50%;
}

#clock {
    color: green;
}