html {
    height: 100%;
}
.modal {
    top: 10%;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    z-index: 50;
}
.text-shadow{
    text-shadow: 8px 5px 5px rgba(82, 82, 82, 0.26);
}
#clock1 {
    background-color: red;
}
::after {
    background-color: black;
}
.savedSearches li {
    margin: 5px;
}